<template>
  <div class="picross-table">
    <table>
      <tr>
        <td></td>
        <PicrossHint v-for="(columnHints, indexHint) in hints.columns" :key="indexHint" :hints="columnHints" target="column" :current-state="getCurrentColumnState(indexHint)" :show-help="showHelp"/>
      <tr>
      <tr v-for="(row, rowIndex) in rows" :key="row">
        <PicrossHint :hints="hints.rows[rowIndex]" target="row" :current-state="getCurrentLineState(rowIndex)" :show-help="showHelp"/>
        <PicrossCell v-for="(col, colIndex) in cols" @change="updateCurrent" :key="getCellIndex(rowIndex, colIndex)" :fill-mode="fillMode" :cell-index="getCellIndex(rowIndex, colIndex)"></PicrossCell>
      </tr>
    </table>
    <input type="checkbox" v-model="fillMode" /> Remplir
    <p v-if="finished" class="success-message">
        Vous avez gagné vous êtes un champion
    </p>
  </div>
</template>

<script>
import PicrossCell from "./PicrossCell.vue";
import PicrossHint from "./PicrossHint.vue";

export default {
    name: "PicrossTable",
    components: {
        PicrossCell,
        PicrossHint,
    },
    data: function () {
        return {
            fillMode: true,
            current: [],
        };
    },
    mounted: function () {
        for (let i = 0; i < this.rows * this.cols; i++) {
            this.current.push(0);
        }
    },
    props: {
        cols : {
            type: Number,
            required: false,
            defaultValue: 5,
        },
        rows: {
            type: Number,
            required: false,
            defaultValue: 5,
        },
        hints: {
            type: Object,
            required: true,
        },
        solution: {
            type: String,
            required: true,
        },
        showHelp: {
            type: Boolean,
            required: true,
        },
    },
    methods: {
        getCellIndex: function(rowIndex, colIndex) {
            return rowIndex * this.cols + colIndex ;
        },
        updateCurrent: function (cellIndex, value) {
            this.$set(this.current, cellIndex, value ? 1 : 0);
        },
        getCurrentLineState: function (rowIndex) {
            return this.current.slice(rowIndex*this.cols, this.cols*(rowIndex+1));
        },
        getCurrentColumnState: function (colIndex) {
            let currentColumnState = [];
            for (let iter = 0; iter < this.current.length; iter++) {
                currentColumnState.push(this.current[this.cols *iter + colIndex]);
            }
            return currentColumnState;
        },
    },
    computed: {
        finished : function() {
            return this.current.join("") === this.solution ;
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
tr:nth-child(5n+2) td,
tr:first-child td {
  border-bottom: 2px solid #000;
}
td:nth-child(5n+1),
td:last-child {
  border-right-width: 2px;
}
tr:first-child td:first-child {
  border: 0;
}
.success-message {
  background-color: powderblue;
}
</style>
