<template>
  <td class="hint " :class="classHint">
    <template v-if="target =='column'">
    <p  v-for="(hintColumn, indexHint) in hints" :key="indexHint">{{hintColumn}}</p>
  </template>
  <template  v-else>
    <p v-for="(hintRow, indexHint) in hints" :key="indexHint">{{hintRow}}</p>
  </template>
  </td>
</template>

<script>
export default {
    name: "PicrossHint",
    props: {
        target: {
            type: String,
            required: true,
        },
        hints: {
            type: Array,
            required: true,
        },
        currentState: {
            type: Array,
            required: true,
        },
        showHelp: {
            type: Boolean,
            required: true,
        },
    },
    computed: {
        isColumnHint: function(){
            return this.target === "column";
        },
        isMarked: function() {
            if (this.hints.join("") === "0") {
                return !this.currentState.includes(1);
            }
            let calculatedState = this.calculatedState.filter(state => state != 0);
            return this.hints.join("") === calculatedState.join("");
        },
        isWrong: function () {
            const reducer = (accumulator, currentValue) => accumulator + currentValue;
            return this.hints.reduce(reducer, 0) < this.calculatedState.reduce(reducer, 0);
        },
        calculatedState: function() {
            let calculatedState = [];
            calculatedState[0] = 0;
            let currentIndex = 0;
            this.currentState.forEach( function(hintState) {
                if( hintState === 1 ) {
                    calculatedState[currentIndex] = calculatedState[currentIndex] + 1;
                } else {
                    calculatedState[currentIndex+1] = 0;
                    currentIndex ++;
                }
            });
            return calculatedState;
        },
        classHint: function () {
            return {
                column: this.isColumnHint,
                row: !this.isColumnHint,
                marked: this.showHelp && this.isMarked,
                error: this.showHelp && this.isWrong,
            };
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  td.hint {
    background-color: #8bcbf0;
    border: 2px solid #fff;
  }
  td.hint.column {
    vertical-align: bottom;
    border-radius: 10px 10px 0 0;
    border-bottom-width: 1px;
    border-bottom-color: #000;
  }
  td.hint.row {
    text-align: right;
    border-radius: 10px 0 0 10px;
    border-right-width: 1px;
    border-right-color: #000;
    border-bottom-color: #fff;
  }
  td.hint.row p {
    display: inline;
    padding-left: 5px;
  }
  td.hint p {
    margin: 0;
  }
  td.marked {
    text-decoration: line-through;
  }
  td.error {
    background-color: #F08B84;
  }
</style>
