<template>
  <td class="picross-cell" :class="{checked: checked}" @click="toggle">
    <transition name="fade">
      <span v-if="dashed">-</span>
    </transition>
  </td>
</template>

<script>
export default {
    name: "PicrossCell",
    data: function () {
        return {
            checked: false,
            dashed: false,
        };
    },
    methods: {
        toggle: function () {
            if(this.fillMode){
                this.checked = !this.checked;
                this.dashed = false;
            } else {
                this.dashed = !this.dashed;
                this.checked = false;
            }
            this.$emit("change", this.cellIndex, this.checked);
        },
    },
    props: {
        fillMode: {
            type: Boolean,
            required: true,
        },
        cellIndex : {
            type: Number,
            required: true,
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  td {
    cursor: pointer;
    border : 1px solid #000;
    min-width: 20px;
    min-height: 20px;
    transition: all .3s ease-out;
  }
  .checked {
    background-color: #666;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
